#content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

mat-icon {
  position: right;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mat-toolbar {
  color: white;
  background: #374653;
}

.list-unstyled {
  margin-top: 25px;
}

#title {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 500%;
}

mat-list {
  margin-top: 50px;
  font-size: 20px;
}

.mat-list-base .mat-list-item {
  color: white;
}

.mat-raised-button {
  font-size: 18px;
  background: #f19345;
  color: white;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  background: #374653;
  overflow: hidden;
  display: block;
}
agm-map {
  height: 300px;
}
