mat-icon {
    position: right;
}

carousel slide {
    background: #374653;
    left: 5px;
    right: 5px;
    
}
p {
    margin: 50px;
    text-align: center;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: regular;
}

.mat-toolbar {
    color: white;
    background: #374653;
    margin-bottom: 50px;
}

.example-card {
    max-width: 300px;
    margin: 50px;
  }

.example-card p {
    font-size: 16px;
    text-align: inherit;
    margin: 15px;
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.footer-card {
    background: #374653;
}

.button p {
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.button {
    text-align: center;
}

.list-unstyled {
    margin-top: 25px;
}

mat-list {
    margin-top: 50px;
    font-size: 20px;
}

.mat-list-base .mat-list-item {
    color: white;
}

.mat-raised-button {
    font-size: 18px;
    background: #F19345;
    color: white;
}

footer {
    color: white;
    background: #374653;
    position: inherit;
} 
agm-map {
    height: 300px;
  }