<div class="example-container">
  <form class="form-inline md-form mr-auto mb-4" (submit)="search()">
    <mat-form-field>
      <input
        matInput
        type="search"
        placeholder="Search"
        aria-label="Search"
        [formControl]="searchText"
        name="searchText"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [(value)]="selectedType">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p>Price</p>
    <p>Min</p>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      min="0"
      max="10000"
      [(value)]="lower"
    >
    </mat-slider>
    <p>Max</p>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      min="{{ lower }}"
      max="10000"
      [(value)]="upper"
    >
    </mat-slider>

    <button mat-icon-button (click)="changeSortDirection()">
      <mat-icon *ngIf="sortDirection === 'desc'">arrow_drop_down</mat-icon>
      <mat-icon *ngIf="sortDirection === 'asc'">arrow_drop_up</mat-icon>
    </button>

    <button
      mdbBtn
      size="sm"
      color="elegant"
      rounded="true"
      class="my-0 waves-light"
      mdbWavesEffect
      type="submit"
    >
      Search
    </button>
  </form>
</div>
