.example-container {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}

.searchBar {
  margin-left: auto;
  margin-right: auto;
}

.searchBarFormField {
  margin-left: 15px;
  margin-right: 15px;
}

p {
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 15px;
}

mat-slider {
  width: 200px;
}

#price {
  margin-left: 15px;
}

#priceTitle {
  text-align: center;
  margin: 0;
}
