<section class="cmspage mtb-40">
  <div class="container">
    <div class="page-desc">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2>1. Szállítási cím</h2>
          <form>
            <div class="form-group">
              <label for="inputNev">Név</label>
              <input type="text" name="name" class="form-control" id="inputNev" placeholder="Név">
            </div>
            <div class="form-group">
              <label for="inputEmail">E-mail</label>
              <input type="text" name="email" class="form-control" id="inputEmail" placeholder="E-Mail">
            </div>
            <div class="form-group">
              <label for="inputTelefon">Telefon</label>
              <input type="text" name="phone" class="form-control" id="inputTelefon" placeholder="Telefon">
            </div>
            <div class="form-group">
              <button class="btn btn-success">Új cím hozzáadása</button>
            </div>
          </form>  

          <h2>2. Fizetés</h2>
          <form>
              <div class="form-group">
                <label>Kártya típus</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                      VISA
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                      MasterCard
                    </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option2">
                      <label class="form-check-label" for="gridRadios3">
                        American Express
                      </label>
                  </div>
              </div>
              

              

              <div class="form-group">
                <label for="inputCardNumber">Kártyaszám</label>
                <input type="text" name="cardnumber" class="form-control" id="inputCardNumber" placeholder="Kártyaszám">
              </div>
              <div class="form-group">
                <label for="inputCardHolder">Kártyán szereplő név</label>
                <input type="text" name="cardholder" class="form-control" id="inputCardHolder" placeholder="Kártyán szereplő név">
              </div>
              <div class="form-group">
                  <label for="inputValidUntil">Lejárati dátum</label>
                  <input type="text" name="cardholder" class="form-control" id="inputValidUntil" placeholder="Lejárati dátum">
              </div>
              <div class="form-group">
                  <label for="inputCode">CVC/CVV kód</label>
                  <input type="text" name="cardholder" class="form-control" id="inputCode" placeholder="CVC/CVV kód">
              </div>
              <div class="form-group">
                <button class="btn btn-success">Fizetek</button>
              </div>
            </form>
      </div>
    </div>
  </div>