<div id="container">
  <h1>Cart</h1>

  <mat-grid-list cols="3" rowHeight="1:1.15">
    <mat-grid-tile *ngFor="let merchandise of merchandiseList">
      <mat-card class="example-card">
        <img class="cardImage" mat-card-image src="{{ merchandise.image }}" />
        <mat-card-content class="cardContent">
          <p style="font-weight: bold;">
            {{ merchandise.name }}
          </p>
          <p>
            {{ merchandise.description }}
          </p>
        </mat-card-content>
        <mat-card-footer class="footer-card">
          <mat-card-actions class="button">
            <p>&euro;{{ merchandise.price }}</p>
            <button *ngIf="user" mat-button class="btn btn-success" routerLink="/buying-form">Buy</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-paginator
    id="paginator"
    showFirstLastButtons="true"
    [pageSizeOptions]="[12, 24, 48, 96]"
    [length]="totalElements"
    [pageSize]="size"
    (page)="showNewPage($event)"
  ></mat-paginator>
</div>


<!-- <h1>Cart</h1>
<div class="cardList">
  <mat-list-item *ngFor="let card of cards">
    <mat-list>
      <mat-card class="example-card">
        <img
          mat-card-image
          src="{{ card.imgUrl }}"
          alt="Photo of a Shiba Inu"
          style="width: 300px;"
        />
        <mat-card-content>
          <p style="font-weight: bold;">
            {{ card.title }}
          </p>
          <p>
            {{ card.details }}
          </p>
        </mat-card-content>
        <mat-card-footer class="footer-card">
          <mat-card-actions class="button">
            <p>{{ card.price }}</p>
            <button routerLink="/buying-form" class="btn btn-success">Megveszem</button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </mat-list>
  </mat-list-item>
</div> -->