<!--Carousel Image Slider-->
<!--
<carousel>
  
    <slide>
      <img src="https://picscdn.redblue.de/doi/msh-pixelboxx-1269807497/feecms_x_x_x" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        
      </div>
    </slide>
    <slide>
      <img src="https://picscdn.redblue.de/doi/msh-pixelboxx-898436806/feecms_x_x_x" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       
      </div>
    </slide>
    <slide>
      <img src="https://picscdn.redblue.de/doi/msh-pixelboxx-729754128/feecms_x_x_x" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        
      </div>
    </slide>
  </carousel>
-->
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis urna felis, sit amet varius elit blandit vel. In condimentum, leo sed aliquam accumsan, ante tellus eleifend erat, eu rutrum justo velit vel nibh. Donec tristique aliquet dolor vitae fringilla. Vivamus condimentum quam in posuere posuere. Nullam mattis felis ac dolor aliquet fringilla. Donec gravida imperdiet lacus at scelerisque. Cras non interdum dolor, id rutrum nibh. Fusce consequat mi a ante ullamcorper, sed varius nisi elementum. 
    </p>
  <!--
    <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="width: 300px;">
        <mat-card-content>
          <p style="font-weight: bold;">
            Title 1
          </p>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis urna felis...
          </p>
        </mat-card-content>
        <mat-card-footer class="footer-card">
            
            <mat-card-actions class="button">
                <p>10 500FT</p>
                <button mat-button style="color: white;
                                          text-align: center;"><mat-icon style="color: white;
                                                                                text-align: center;">star_rate</mat-icon>Tedd a kosárba!</button>
              </mat-card-actions>
        </mat-card-footer>
    </mat-card>-->

  <div class="cardList">
    <mat-list-item *ngFor="let card of cards">
        <mat-list>
           <mat-card class="example-card">
                <img mat-card-image src="{{card.imgUrl}}" alt="Photo of a Shiba Inu" style="width: 300px;">
                <mat-card-content>
                  <p style="font-weight: bold;">
                      {{card.title}}
                  </p>
                  <p>
                      {{card.details}}
                  </p>
                </mat-card-content>
                <mat-card-footer class="footer-card">
                    
                    <mat-card-actions class="button">
                        <p>{{card.price}}</p>
                        <button mat-button style="color: white;
                                                  text-align: center;"><mat-icon style="color: white;
                                                                                        text-align: center;">star_rate</mat-icon>Tedd a kosárba!</button>
                      </mat-card-actions>
                </mat-card-footer>
            </mat-card>
          </mat-list>
    </mat-list-item>
  </div>



      
