<carousel>
  <slide>
    <img
      src="//ae01.alicdn.com/kf/HTB18vjsU9zqK1RjSZPx7634tVXaa.png"
      alt="first slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block">
      <!---
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      -->
    </div>
  </slide>
  <slide>
    <img
      src="//ae01.alicdn.com/kf/HTB1w.CLUrvpK1RjSZFq763XUVXas.png"
      alt="second slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block">
      <!--
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      -->
    </div>
  </slide>
  <slide>
    <img
      src="//ae01.alicdn.com/kf/HTB1jvfNaJzvK1RkSnfo762MwVXaD.png"
      alt="third slide"
      style="display: block; width: 100%;"
    />
    <div class="carousel-caption d-none d-md-block">
      <!--
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      -->
    </div>
  </slide>
</carousel>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis urna
  felis, sit amet varius elit blandit vel. In condimentum, leo sed aliquam
  accumsan, ante tellus eleifend erat, eu rutrum justo velit vel nibh. Donec
  tristique aliquet dolor vitae fringilla. Vivamus condimentum quam in posuere
  posuere. Nullam mattis felis ac dolor aliquet fringilla. Donec gravida
  imperdiet lacus at scelerisque. Cras non interdum dolor, id rutrum nibh. Fusce
  consequat mi a ante ullamcorper, sed varius nisi elementum.
</p>
