<div id="menu">
  <div class="search-box">
    <!--<form class="form-inline md-form mr-auto mb-4">
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
      />
      <button mdbBtn type="button" color="success" mdbWavesEffect>
        Success
      </button>
    </form>-->

    <mat-form-field>
      <input matInput placeholder="Filter" style="padding-left: 15px;" />
    </mat-form-field>
  </div>
  <app-favourite-cards></app-favourite-cards>
</div>
